name: Calculator test and deploy

on:
    push:
        branches: [main]
    
jobs:
    test:
        runs-on: ubuntu-latest

        steps: 
            - name: Checkout code
              uses: actions/checkout@v4

            - name: set up python
              uses: actions/setup-python@v4
              with:
                python-version: '3.10'
        
            - name: install dependencies
              run: pip install -r requirements.txt

            - name: Runs tests and enforce coverage
              run: pytest --cov=calc --cov-report=term --cov-report=html #--cov-fail-under=80
            - name: upload HTML coverage report 
              uses: actions/upload-artifact@v4
              with:
                name: html-coverage-report
                path: htmlcov/

    deploy:
        runs-on: ubuntu-latest
        needs: test

        steps:
            - name: print deployment message
              run: echo "coverage passed. Proceeding with deployment!"

